language: node_js
sudo: false
node_js:
  - '0.12'
  - '4'
  - '5'
  - '6'
addons:
  code_climate:
    repo_token: 2fc04cdf13c36c90a173a744cb506252466e8680ad1a644118bfec47c498141c
after_script:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < ./coverage/lcov.info
